                  EXERCISE
(1) Create three variables (a,b,c) to same value of integer and do the following
    a) divide a by 10
    b) multiply b by 50
    c) add c value by 60

In [2]:
a=10
b=15
c=20

#divide a by 10
print(int(a/10))

1

In [3]:
#multipy b bu 50
print(b*50)

750

In [4]:
#add c value by 60
print(c+60)

80

(2) Create a string variable of 5 characters and replace the 3rd character with G

In [6]:
country="Egypt"
print(country.replace("p","G"))

EgyGt

(3) Create two values (a,b) of int,float dtaa type & convert the vise versa, 
     Hint: Convert a from int to float data type & b from float to int data type

In [7]:
a=12
b=34.5

#converting int to float
print(float(a))

#converting float to int data type
print(int(34.5))

12.0
34